*.iml
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
proguard-rules.pro
src/androidTest/
src/main/java/com/example/hp/muxi_workbench_android/block/main/MainActivity.java
src/main/java/com/example/hp/muxi_workbench_android/utils/
src/main/res/mipmap-anydpi-v26/
src/main/res/mipmap-hdpi/
src/main/res/mipmap-mdpi/
src/main/res/mipmap-xhdpi/
src/main/res/mipmap-xxhdpi/
src/main/res/mipmap-xxxhdpi/
src/test/
